* {
    box-sizing: border-box;
    padding: 0;
    margin: 0;
    word-wrap: break-word;
}

html {
    font-family: 'Outfit', sans-serif;
    font-size: 15px;
}

img {
    width: 22rem;
    height: auto;
    border-radius: 1rem;
    margin-top: 1.5rem;
    margin-left: 1.5rem;
}

body {
    background-color: hsl(212, 45%, 89%);
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    min-height: 100vh;
}

.container {
    background-color: white;
    width: 25rem;
    height: 40rem;
    border-radius: 1rem;
}

h2 {
    color: hsl(218, 44%, 22%);
    text-align: center;
    margin-top: 2rem;
    margin-left: 2.5rem;
    margin-right: 2.5rem;
}

p {
    color: hsl(220, 15%, 55%);
    font-size: 1.2rem;
    text-align: center;
    margin-top: 2rem;
    margin-left: 2.5rem;
    margin-right: 2.5rem;
    line-height: 1.2rem;
}

a {
    text-decoration: none;
}